# ENV
.env
.env.*
!.env.example

# Backend ENV
backend/.env
backend/.env.*
!backend/.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
dist/
build/

# Temporary media/files
data/
backend/data/
tmp/
temp/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db